@{
    ViewBag.Title = "Sala";
}
<!DOCTYPE html>
<html>
<head>
    <title>Sala - Krillo</title>
    <script src="~/Scripts/chat.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body>
    <div id="chat">
        <div class="chat_header"><button id="fullscreen">a</button> CHAT</div>
        <div id="chat_s" onLoad="doSomething()"></div>
        <!--<script type="text/javascript">
            var submitted = false;
        </script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>-->
        <form id="ss-form">
            <input type="text" id="mensaje" placeholder="Mensaje" />
            <input name="draftResponse" type="hidden" value='[,,"-2195881827543510175"]&#10;'>
            <input name="pageHistory" type="hidden" value="0">
            <input name="fvv" type="hidden" value="0">
            <input name="fbzx" type="hidden" value="-2195881827543510175">
            <input type="button" class="jfk-button jfk-button-action" onclick="Click()" value=">" />
        </form>
    </div>
    <script>
        setInterval(function Buscar() {
            // var myValue = document.querySelector('#salaid').textContent;
            // console.log(myValue);


            fetch('/api/Mensaje/GetMensajexSalas/' + @ViewBag.id)
                .then(res => res.json())

                .then(json_extraido => {

                    // console.log("json.search", json_extraido);
                    var div = document.getElementById("chat_s");
                    div.innerHTML = "";
                    for (var i = 0; i < json_extraido.length; i++) {
                        var entry = json_extraido[i];
                        var a, b;
                        a = entry.Usuario;
                        b = "";

                        div.innerHTML +=
                            '<div class="chat' +
                            b +
                            '"><div class="chat_name">' +
                            a +
                            '</div><div class="chat_message">' +
                            entry.Texto +
                            "</div></div>";
                    }
                })
                .catch(error => console.log("Fallo:" + error));


        }, 1000);


        function Click() {

            var men = document.querySelector('#mensaje').value
            var dat = new Date();
            console.log(men);
            console.log("fecha" + dat);
            fetch('/Home/SalaCreada', {
                method: 'post',
                body: JSON.stringify({ mensaje: men , fecha: dat })
            })
                .then(function (response) {
                    console.log("entramos")
                    if (response.status !== 200) {
                        console.log('fetch returned not ok' + response.status);
                    }

                    response.json().then(function (data) {
                        console.log('fetch returned ok');
                        console.log(data);
                    });
                })
                .catch(function (err) {
                    console.log(`error: ${err}`);
                });
        }


        //código a ejecutar cuando el DOM está listo para recibir acciones
        /*
        fetch('/api/Mensaje/GetMensajexSalas/135', {
            
            //body: JSON.stringify({ idSala: 5 })
        })
    
            .then(function (response) {
                console.log("hola");
                if (response.status !== 200) {
                    console.log('fetch returned not ok' + response.status);
                }
                console.log(response.text());
                
            })
            response.json().then(function (data) {
            console.log('fetch returned ok');
            console.log(data);
        });
            .catch(function (err) {
                console.log(`error: ${err}`);
            });
    });
    */


    </script>

    <!--Chat--
      <div id="chat">
          <div class="chat_header"><button id="fullscreen">a</button> CHAT </div>
          <!--  <div class="card-body height3">
        <ul class="chat-list">
            <li class="in">
                <div class="chat-img">
                    <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
                <div class="chat-body">
                    <div class="chat-message">
                        <h5>Jimmy Willams</h5>
                        <p>Raw denim heard of them tofu master cleanse</p>
                    </div>
                </div>
            </li>
            <li class="out">
                <div class="chat-img">
                    <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                </div>
                <div class="chat-body">
                    <div class="chat-message">
                        <h5>Serena</h5>
                        <p>Next level veard</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){add()}"></iframe>
          <form>
              <input type="text" id="mensaje" placeholder="Mensaje" />
              <input type="submit" onclick="Click()" value=">" />
          </form>
      </div>-->
    <!--
            <form id="ss-form" onsubmit="submitted=true" action="" method="POST" target="hidden_iframe">
                <input type="text" name="mensaje" required="" placeholder="Mensaje">
                <input type="submit" name="submit" class="jfk-button jfk-button-action" id="ss-submit" value=">" onClick="return check()">
            </form>
    -->
    <script type="text/javascript">
        var fullscreen = document.getElementById("fullscreen");
        var el = document.documentElement;
        var contador = 0;

        fullscreen.addEventListener("click", () => {
            if (contador === 0) {
                chat.classList.add('full');
                video.classList.add('full');
                el.requestFullscreen();
                contador = 1;
            }
            else {
                chat.classList.remove('full');
                video.classList.remove('full');
                contador = 0;
                document.exitFullscreen();
            }
        })

    </script>
    <div class="video">
        <iframe class="video" id="video" src="https://www.youtube.com/embed/8Doh5mT6Zvc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>s
    </div>




    <style>




        .video {
            position: fixed;
            top: 7%;
            height: 92%;
            width: 82%;
            left: 0;
            border-bottom: 1px solid #242424;
        }

            .video.full {
                position: fixed;
                top: 0;
                height: 100%;
                width: 82%;
                left: 0;
                border-bottom: 1px solid #242424;
            }

        .imgPart img {
            width: 40px;
            border-radius: 50%;
            margin: 15px;
        }



        /caja chat/
        #chat {
            height: 93%;
            top: 7%;
            right: 0%;
            left: 82%;
            border-left: 1px solid #242424;
            max-width: calc(100vw - 40px);
            font-family: "Montserrat", sans-serif;
            position: fixed;
            background: #171717;
            color: white;
        }

        #chat.full {
            height: 100%;
            top: 0;
            right: 0%;
            left: 82%;
            border-left: 1px solid #242424;
            max-width: calc(100vw - 40px);
            font-family: "Montserrat", sans-serif;
            position: fixed;
            background: #171717;
            color: white;
        }

        .chat_header {
            padding: 15px;
            border-bottom: 1px solid #242424;
            color: #ffffff;
            margin-bottom: 8px;
            font-size: 14px;
            background: #171717;
        }

        .chat {
            margin: 14px;
            border: 1px solid #ff7f50;
            padding: 8px;
            width: 220px;
            border-radius: 10px 10px 10px 0;
            max-width: calc(100% - 48px);
            font-size: 0.85em;
            word-break: break-word;
        }

        /nombre lider/
        .chat_name {
            text-transform: uppercase;
            font-size: 0.65em;
            margin: 4px 0 2px;
            font-weight: 900;
        }

        /mensaje/
        .chat_other {
            border-radius: 10px 10px 0 10px;
            margin-left: calc(100% - 249px);
            border-color: #65969c;
            float: right;
            background: #3d3d3d;
        }

        #chat form {
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: calc(100% - 20px);
        }

        /input mensaje/
        #chat input[type="text"] {
            width: calc(100% - 44px);
            box-sizing: border-box;
            padding: 10px;
            border-color: #242424;
            font-family: "Montserrat", sans-serif;
            background: #3d3d3d;
            color: white;
            border-radius: 10px 10px 10px 10px;
        }

        /boton enviar/
        #chat input[type="button"] {
            width: 50px;
            position: absolute;
            box-sizing: border-box;
            padding: 10px;
            margin-left: -1px;
            border-color: #242424;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;
            background: #3d3d3d;
            color: white;
            border-radius: 10px 10px 10px 10px
        }

        #chat_s {
            overflow-y: scroll;
            max-height: 82%;
        }

        ::-webkit-scrollbar {
            width: 13px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 0 4px #fff;
            background: rgba(0, 0, 0, 0.2);
        }

      /*.video {
            position: fixed;
            top: 7%;
            height: 92%;
            width: 82%;
            left: 0;
            border-bottom: 1px solid #242424;
        }

            .video.full {
                position: fixed;
                top: 0;
                height: 100%;
                width: 82%;
                left: 0;
                border-bottom: 1px solid #242424;
            }

        .imgPart img {
            width: 40px;
            border-radius: 50%;
            margin: 15px;
        }



        /*caja chat*
        #chat {
            height: 93%;
            top: 7%;
            right: 0%;
            left: 82%;
            border-left: 1px solid #242424;
            max-width: calc(100vw - 40px);
            font-family: "Montserrat", sans-serif;
            position: fixed;
            background: #171717;
            color: white;
        }

        .chat_header {
            padding: 15px;
            border-bottom: 1px solid #242424;
            color: #ffffff;
            margin-bottom: 8px;
            font-size: 14px;
            background: #171717;
        }

        .chat {
            margin: 14px;
            border: 1px solid #ff7f50;
            padding: 8px;
            width: 220px;
            border-radius: 10px 10px 10px 0;
            max-width: calc(100% - 48px);
            font-size: 0.85em;
            word-break: break-word;
        }
        /*nombre lider*
        .chat_name {
            text-transform: uppercase;
            font-size: 0.65em;
            margin: 4px 0 2px;
            font-weight: 900;
        }
        /*mensaje*
        .chat_other {
            border-radius: 10px 10px 0 10px;
            margin-left: calc(100% - 249px);
            border-color: #65969c;
            float: right;
            background: #3d3d3d;
        }

        #chat form {
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: calc(100% - 20px);
        }
        /*input mensaje*
        #chat input[type="text"] {
            width: calc(100% - 44px);
            box-sizing: border-box;
            padding: 10px;
            border-color: #242424;
            font-family: "Montserrat", sans-serif;
            background: #3d3d3d;
            color: white;
            border-radius: 10px 10px 10px 10px;
        }
        /*boton enviar*
        #chat input[type="button"] {
            width: 50px;
            position: absolute;
            box-sizing: border-box;
            padding: 10px;
            margin-left: -1px;
            border-color: #242424;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;
            background: #3d3d3d;
            color: white;
            border-radius: 10px 10px 10px 10px
        }

        #chat_s {
            overflow-y: scroll;
            max-height: 82%;
        }

        ::-webkit-scrollbar {
            width: 13px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 0 4px #fff;
            background: rgba(0, 0, 0, 0.2);
        }*/
    </style>

    <script>


    </script>

</body>
</html>


